.legend,
.sliders {
  display: inline-block;
  vertical-align: middle;
}

.sliders {
  height: 400px;
  width: 400px;
  max-width: 100%;
  position: relative;
}

.sliders svg {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 100%;
  transform: translateX(-50%) translateY(-50%);
}

.legend {
  min-height: 200px;
  min-width: 100px;
}

.legend .value,
.legend .label {
  display: inline-block;
}

.legend .value {
  font-weight: bold;
  font-size: 2em;
  min-width: 100px;
}

.legend .value::before {
  content: "$";
}

.legend .label::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: .5em;
  margin: 0 1em;
}
