body {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f2f2+0,dbdbdb+100 */
  background: #f2f2f2; /* Old browsers */
  background: -moz-linear-gradient(top, #f2f2f2 0%, #dbdbdb 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #f2f2f2 0%,#dbdbdb 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #f2f2f2 0%,#dbdbdb 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f2f2', endColorstr='#dbdbdb',GradientType=0 ); /* IE6-9 */
  background-attachment: fixed;
}

.legend,
.graph,
.sliders {
  display: inline-block;
  vertical-align: middle;
}

.graph {
  max-width: 100%;
  overflow: visible;
}

.sliders {
  height: 400px;
  width: 400px;
  position: relative;
  margin: 0.5em 0;
  -webkit-backface-visibility: hidden;
  margin: 2em 0;
}

.sliders svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  -webkit-backface-visibility: hidden;
}

.legend {
  min-height: 200px;
  min-width: 100px;
}

.legend .value,
.legend .label {
  display: inline-block;
}

.legend .value {
  font-weight: bold;
  font-size: 2em;
  min-width: 100px;
}

.legend .value::before {
  content: "$";
}

.legend .label::before {
  content: "";
  display: inline-block;
  width: 1em;
  height: .5em;
  margin: 0 1em;
}

.instructions {
  text-align: center;
  font-style: italic;
}
